# Logs
*.log
npm-debug.log

# Dependency directory
node_modules
__tests__
coverage
modules

# Runtime data
tmp
.DS_Store

# Linting
.eslintrc.js
.prettierrc.js

# Misc
CODE_OF_CONDUCT.md
.watchmanconfig
.circleci
Example
